<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/css/style.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/css/custom_game.css'>

    <script src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js'></script>
    <script src='../static/script/main.js'></script>
    <script src='../static/script/fight_custom.js'></script>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<h1 style="position: absolute;" id="turns">0</h1>

<body>
    <div class="container">

        <div class="character">

            <div class="character-name">{{yourPick.name}}</div>

            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuemin="0"
                aria-valuemax="100">
                <div class="progress-bar bg-success" id="YourHealth" style="width: 0%">0%</div>
            </div>

            <div class="progress energyBar" role="progressbar" aria-label="Example with label" aria-valuemin="0"
                aria-valuemax="100">
                <div class="progress-bar" id="YourEnergy" style="width: 0%">0</div>
            </div>

            <img src="{{yourPick.image}}" alt="{{yourPick.name}}" class="character-image">
            <div id="YourPickAttacks"></div>

        </div>
        <div class="character">
            <div class="character-name">{{ennemy.name}}</div>

            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuemin="0"
                aria-valuemax="100">
                <div class="progress-bar bg-success" id="EnnemyHealth" style="width: 0%">0%</div>
            </div>

            <div class="progress energyBar" role="progressbar" aria-label="Example with label" aria-valuemin="0"
                aria-valuemax="100">
                <div class="progress-bar" id="EnnemyEnergy" style="width: 0%">0</div>
            </div>

            <img src="{{ennemy.image}}" alt="{{ennemy.name}}" class="character-image">
            <div id="EnnemyAttacks"></div>

        </div>
    </div>


    {% for YourPickTech in yourPick_tech_list %}
    <script>
        var button = document.createElement("button");

        var div = document.getElementById("YourPickAttacks");

        var yourPick_tech_list = '{{yourPick_tech_list}}'.replace(/&#39;/g, '"').replace(/&#34;/g, "'")
        yourPick_tech_list = JSON.parse(yourPick_tech_list)
        var yourPickTech = '{{YourPickTech}}'

        console.log(yourPick_tech_list[yourPickTech].name)


        button.innerHTML = yourPick_tech_list[yourPickTech].name;

        if (yourPick_tech_list[yourPickTech].name == "NormalAttack") {
            button.classList.add("normalAttackButton")
        } else if (yourPick_tech_list[yourPickTech].name == "Guard") {
            button.classList.add("guardButton")
        } else if (yourPick_tech_list[yourPickTech].name == "ChargeKi") {
            button.classList.add("kiButton")
        } else {
            button.classList.add("techniqueButton")
        }

        var YourPickData = yourPick_tech_list[yourPickTech]
        button.setAttribute("onclick", `attack('player','ennemy',${JSON.stringify(YourPickData)}, {{ennemy.health}})`);

        div.appendChild(button);

    </script>
    {% endfor %}

    <script> console.log("")</script>

    {% for ennemyTech in ennemy_tech_list %}
    <script>
        var button = document.createElement("button");

        var div = document.getElementById("EnnemyAttacks");

        var ennemy_tech_list = '{{ennemy_tech_list}}'.replace(/&#39;/g, '"').replace(/&#34;/g, "'")
        ennemy_tech_list = JSON.parse(ennemy_tech_list)
        var ennemyTech = '{{ennemyTech}}'

        var EnnemyData = ennemy_tech_list[ennemyTech]

        if (ennemy_tech_list[ennemyTech].name == "NormalAttack") {
            button.classList.add("normalAttackButton")
        } else if (ennemy_tech_list[ennemyTech].name == "Guard") {
            button.classList.add("guardButton")
        } else if (ennemy_tech_list[ennemyTech].name == "ChargeKi") {
            button.classList.add("kiButton")
        } else {
            button.classList.add("techniqueButton")
        }

        button.innerHTML = ennemy_tech_list[ennemyTech].name;
        button.setAttribute("onclick", `attack('ennemy','player',${JSON.stringify(EnnemyData)}, {{yourPick.health}})`);

        div.appendChild(button);
    </script>
    {% endfor %}

    <script>
        setBackground("{{ stage.image }}")

        SetHealthBarYou("{{yourPick.health}}");

        SetHealthBarEnnemy("{{ennemy.health}}");


        function updateEnergy(target, amount) {
            const YourEnergyBar = document.getElementById('YourEnergy');
            const EnnemyEnergyBar = document.getElementById('EnnemyEnergy');
            const maxEnergy = (target === "player") ? parseInt("{{yourPick.energy}}") : parseInt("{{ennemy.energy}}");

            let newEnergyValue;
            if (target === "player") {
                newEnergyValue = parseInt(YourEnergyBar.textContent) + amount;
            } else {
                newEnergyValue = parseInt(EnnemyEnergyBar.textContent) + amount;
            }

            newEnergyValue = Math.min(newEnergyValue, maxEnergy);

            if (target === "player") {
                YourEnergyBar.textContent = newEnergyValue;
                YourEnergyBar.style.width = (newEnergyValue / maxEnergy) * 100 + '%';
            } else {
                EnnemyEnergyBar.textContent = newEnergyValue;
                EnnemyEnergyBar.style.width = (newEnergyValue / maxEnergy) * 100 + '%';
            }

            if (newEnergyValue == maxEnergy) {
                console.log("energy full")
            }
        }


    </script>


</body>

</html>