<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>CUSTOM</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/campagne.css">

    <script src='../static/script/campagne.js'></script>


</head>

<body>

    <h1 id="mainTitleLogo">
        <a href="/" id="site_logo">
            <span id="dragon_text_logo">DRAGON</span>
            <span id="ball_text">BALL</span>
        </a>
    </h1>
    <a href="/" id="site_logo">
        <h2 id="draft_clash_text_logo">
            <span>DRAFT CLASH</span>
        </h2>
    </a>

    <div id="gameModeMainDiv" style="margin-top: -100px;">
        <h1 id="mainTitle">
            <span id="title2ndWord">TUTORIEL</span>
        </h1>
    </div>

    <div id="tutoImagesContainer">
        <img id="tutoImages" src="../../static/images/tutorial/fight scene.png" alt="">
    </div>



    <footer style="margin-top: 70px;">
        <a href="/gameMode"><button id="goBack">RETOUR</button></a>
        <button id="submit"
            style="width: 120px; margin-right: 10px; font-size: 20px; height: 60px; margin-top: 20px;">SUITE</button>

    </footer>

</html>