<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initialscale=1.0">
    <title>Index of the site</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/menu.css">

</head>

<body>


    <h1 id="mainTitleLogo" class="topLogo">
        <a href="/" id="site_logo">
            <span id="dragon_text_logo">DRAGON</span>
            <span id="ball_text">BALL</span>
        </a>
    </h1>
    <a href="/" id="site_logo">
        <h2 id="draft_clash_text_logo">
            <span>DRAFT CLASH</span>
        </h2>
    </a>
    <div id="gameModeMainDiv">
        <h1 id="mainTitle">
            <span id="dragon_text">COMING</span>
            <span id="ball_text">SOON</span>
        </h1>
    </div>



    <footer>
        <a href="/menu"><button id="goBack">RETOUR</button></a>

    </footer>

</body>

</html>