<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Profile</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/profile.css">
</head>

<body>

    <div id="new_pfp_div">
        <h1>Add new profile picture</h1>
        <input type="text" name="" id="new_pfp" value="">
        <button id="add_new_pfp" onclick="addNewPFP()">Add</button>
    </div>

    <div id="new_banner_div">
        <h1>Add new banner</h1>
        <input type="text" name="" id="new_banner" value="">
        <button id="add_new_banner" onclick="addNewBANNER()">Add</button>
    </div>

    <h1 id="mainTitleLogo">
        <a href="/" id="site_logo">
            <span id="dragon_text_logo">DRAGON</span>
            <span id="ball_text">BALL</span>
        </a>
    </h1>
    <a href="/" id="site_logo">
        <h2 id="draft_clash_text_logo">
            <span>DRAFT CLASH</span>
        </h2>
    </a>

    <div id="container_profile">
        <form id="profile_principale" action="/profile" method="post">

            <section id="visual_infos">
                <div id="banner_picture_container">
                    <img src="{{userinfos['banner']}}" alt="" id="banner_picture" name="banner_picture">
                </div>

                <div id="profile_picture_section">
                    <img src="{{userinfos['profile_picture']}}" alt="" id="profile_picture" name="profile_picture">
                    <img id="change_profile_picture_button" src="../static/images/editer.png"
                        onclick="openPFPdiv()"></img>

                </div>

                <div id="name_section">
                    <h1>{{userinfos["nickname"]}}</h1>
                </div>
                <div id="change_banner_section">
                    <img id="change_banner_button" src="../static/images/editer.png" onclick="openBANNERdiv()"></img>
                </div>
            </section>


            <section id="text_infos">
                <div id="left_infos">
                    <div id="name_part">
                        <h2 id="text_infos_title">Pseudo</h2>
                        <input type="text" value="{{userinfos['nickname']}}" id="inputs_zone" name="nickname">
                    </div>

                    <div id="bio_part">
                        <h2 id="text_infos_title">Biographie</h2>
                        <input type="text" value="{{userinfos['bio']}}" id="inputs_zone" name="bio">
                    </div>


                </div>

                <div id="right_infos">
                    <div id="mail_part">
                        <h2 id="text_infos_title">Email</h2>
                        <input type="text" value="{{userinfos['email']}}" id="inputs_zone" name="email">
                    </div>

                    <div id="passwors_part">
                        <h2 id="text_infos_title">Mot de passe</h2>
                        <input type="text" placeholder="*********" id="inputs_zone" name="password">
                    </div>
                </div>

            </section>


            <section id="bottom_part">
                <a href="/"><button id="goBack" class="goback" type="button">RETOUR</button></a>
                <button id="confirm_changes" type="submit">CONFIRMER</button>
                <a id="logout" href="/logout">Déconnexion</a>
            </section>

            <input type="text" name="pfp_url" id="pfp_url" value="">
            <input type="text" name="banner_url" id="banner_url" value="">

        </form>

    </div>


    <section id="background_images">
        <img id="gokuLogin" src="/static/images/asset_goku.png" alt="goku">
        <img id="vegetaLogin" src="/static/images/asset_vegeta.png" alt="Vegeta">
    </section>



</body>
<script src="/static/script/profile.js"></script>

</html>