
.container {
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
}

.character {
    text-align: center; 
}

.character-image {
    width: 500px; 
}

.character-name {
    font-size: 30px;
    color: #F2FCFF;
    margin-top: 80px; 
    font-weight: bold; 
}

.energyBar{
    margin-top: 5px;
    width: 50%;
}

button{
    border: none;
    padding: 0.5em 1em;
}
.normalAttackButton{
    transition: 0.5s;
    margin-left: 10px;
    background-color: rgb(255, 91, 73);
    color: #F2FCFF;
    font-size: 20px;
    border-radius: 8px;
}

.guardButton{
    transition: 0.5s;
    margin-left: 10px;
    background-color: rgb(37, 196, 213);
    color: #F2FCFF;
    font-size: 20px;
    border-radius: 8px;

}

.counterButton{
    transition: 0.5s;

    margin-left: 10px;
    background-color: rgb(219, 43, 43);
    color: #F2FCFF;
    font-size: 20px;
    border-radius: 8px;

}

.kiButton{
    transition: 0.5s;
    margin-left: 10px;
    background-color: rgb(73, 131, 255);
    color: #F2FCFF;
    font-size: 20px;
    border-radius: 8px;
}

button:hover{
    transform: scale(1.05);
}


#turns{
    position: relative;
    left: 50%;
    margin-top: 2.5em;
    color: #F2FCFF;
}

#whoplays{
    position: relative;
    left: 25%;
    color: #F2FCFF;
    font-size: 20px;
}