@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


body{
    background-color: #2B2D30;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

header{
    text-align: right;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.167); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(254, 255, 255, 0.249); 
  border-radius: 10px;
}

#profileButton {
    transition: 0.5s;
    cursor: pointer;
    padding: 10px;
    width: 64px;
    height: 64px;
    border-radius:100%;
}

#profileButton:hover{
    transform: scale(1.1);

}


#indexContainer {
    margin-top: -20px;
    display: flex;
    justify-content: space-between;
}


#mainTitle {
    font-size: 80px;
    display: flex;
}


#mainTitleLogo {
    font-size: 30px;
    display: flex;
    margin-left: 20px;
}



#mainTitle span {
    display: inline; /* Display spans side by side */
    margin-bottom: -90px;
}

#dragon_text {
    color: #FFDB00;
    margin-right: 15px;
}

#dragon_text_logo{
    color: #FFDB00;
    margin-right: 5px;


}

#ball_text {
    color: #EC2324;
}
#title2ndWord{
    color: #EC2324;
}

#draft_clash_text{
    font-size: 50px;
    color: #F2FCFF;
}

#draft_clash_text_logo{
    margin-top: -30px;
    font-size: 20px;
    color: #F2FCFF;
    margin-left: 20px;

}

#site_logo{
    text-decoration: none;
}

#main_description{
    margin-top: -22px;
    font-size: 28px;
    color: #F2FCFF;
    
}

#playButton{
    transition: 0.5s;
    cursor: pointer;
    border: none;
    background-color: #EC2324;
    font-size: 20px;
    font-weight: 800;
    color: #F2FCFF;
    width: 130px;
    height: 70px;
    border-radius: 20px;
}

#playButton:hover{
    background-color: #fe3939;
    transform: scale(1.05);

}

#exploreButton{
    transition: 0.5s;
    cursor: pointer;
    margin-left: 35px;
    border: none;
    background-color: #F2FCFF;
    font-size: 20px;
    font-weight: 800;
    color: #4C5562;
    width: 180px;
    height: 70px;
    border-radius: 20px;
}

#exploreButton:hover{
    background-color: #ffffff;
    color: #6e7988;
    transform: scale(1.05);
}

#charactersButton{
    transition: 0.5s;
    cursor: pointer;
    margin-left: 35px;
    border: none;
    background-color: #FFDB00;
    font-size: 20px;
    font-weight: 800;
    color: #63645d;
    width: 280px;
    height: 70px;
    border-radius: 20px;
}

#charactersButton:hover{
    background-color: #ffe540;
    color: #a3a593;
    transform: scale(1.05);
}

#indexLeftBox {
    flex: 1;
    padding-left: 80px;
    padding-top: 35px;
}

#indexRightBox {
    flex: 1;
    position: relative;
}

#svgContainer {
    position: relative;
    margin-top: 7%;
}

svg{
    width: 110%;
}

#gokuImage, #vegetaImage {
    position: absolute;
}

#gokuImage {
    transition: 0.5s;
    top: 86px;
    left: 450px;
    width: 250px;
}

#vegetaImage {
    top: 87px;
    left: 150px;
    width: 290px;
}

/* -----------------------LOGIN----------------------- */

#containerLogin {
        display: flex; 
        justify-content: space-between; 
        align-items: center; 
    }


#LoginDiv{
    margin: auto;
    background-color: #4C5562;
    width: 450px;
    height: 620px;
    border-radius: 20px;
    justify-content: center;
    text-align: center;

}

#gokuLogin{
    width: 25%;
    margin-bottom: -100px;
}

#vegetaLogin{
    width: 27%;
    margin-bottom: -100px;

}

#connexionTitle{
    margin-top: 70px;

    font-size: 38px;
    color: #F2FCFF;
}

#email{
    padding-left: 8px;
    margin-top: 20px;

    width: 350px;
    font-size: 20px;
    height: 40px;
    border-radius: 50px;
    border: none;
}
#email::placeholder{
    color: #4c556269;
}

#password{
    padding-left: 8px;

    margin-top: 20px;
    width: 350px;
    font-size: 20px;
    height: 40px;
    border-radius: 50px;
    border: none;
}

#password::placeholder{
    color: #4c556269;
}

#submit{
    transition: 0.5s;
    margin-top: 50px;
    cursor: pointer;
    border: none;
    background-color: #EC2324;
    font-size: 23px;
    font-weight: 800;
    color: #F2FCFF;
    width: 160px;
    height: 75px;
    border-radius: 15px;
}

#submit:hover{
    background-color: #fe3939;
}

#goToRegister{
    transition: 0.5s;
    color: #F2FCFF;
}

#goToRegister:hover{
    color: #ffffff;
}

/* -----------------------GAME MODE CHOICES----------------------- */

#gameModeMainDiv{
    margin-top: -50px;
    display: flex; 
    align-items: center; 
    justify-content: center;
}

#gameModeChoices {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#cardDiv {
    position: relative;
    margin: 50px;
}

#card {
    position: relative;
    margin: 50px;
    background-color: #4C5562;
    border-radius: 20px;
    height: 300px;
}

#cardImg {
    transition: 0.5s;
    cursor: pointer;
    transition: transform 0.5s, filter 0.5s; 
    filter: brightness(75%);
    position: relative;
    left: -40px;
    top: -60px;
    width:130%;
}


#cardDiv:hover img{
    filter: brightness(100%);
    transform: scale(1.1);
}

#card p {
    cursor: pointer;

    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

#cardText {
    position: absolute;
    bottom: -30px;
    left: 50px;
    width: 70%;
    color: white;
    padding: 10px;
    border-radius: 20px;
    background-color: #4C5562;

}

#gameModeChoices a {
    cursor:default;
    border-color: solid red 1px;
    text-decoration: none;
    color: black;
}

#gameModeChoices a:hover {
    color: blue;
}


/* -----------------------CUSTOM MODE----------------------- */

#charactersContainer{
    display: flex;
    margin-top: 40px;

    overflow-x: auto;
    white-space: nowrap;

}

#characterCard {
    display: inline-block;
    width: 300px; /* Vous pouvez ajuster la largeur selon vos besoins */
    margin: 10px; /* Espacement entre les cartes */
    text-align: center; /* Centrer le contenu à l'intérieur de la carte */
}

#characterImage {
    border-radius: 20px;
    transition: transform 0.5s, filter 0.5s; 
    filter: brightness(75%);
    width: 300px;
    cursor: pointer;
}

#characterImage:hover {
    filter: brightness(100%);
    transform: scale(1.1); /* Agrandir l'image au survol */
}

#characterName{
    font-size: 30px;
    color: #F2FCFF;
    display: flex;
    align-items: center;
    justify-content: center;

    
}

footer{
    display: flex;
    justify-content: space-between;
}

#goBack{
    position: relative;
    transition: 0.5s;
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
    border: none;
    background-color: #F2FCFF;
    font-size: 20px;
    font-weight: 800;
    color: #4C5562;
    width: 120px;
    height: 60px;
    border-radius: 15px;
}

#goBack:hover{
    background-color: #ffffff;
    color: #6e7988;
    transform: scale(1.05);

}

#confirm_div{
    text-align: right;

}
#confirm{
    display: none;
    position: relative;
    transition: 0.5s;
    margin-top: 20px;
    margin-right:40px;
    cursor: pointer;
    border: none;
    background-color: #EC2324;
    font-size: 20px;
    font-weight: 800;
    color: #F2FCFF;
    width: 180px;
    height: 60px;
    border-radius: 15px;
}

#confirm:hover{
    background-color: #fe3939;
    color: #FFFFFF;
    transform: scale(1.05);


}

#confirm_opponent{
    display: none;
    position: relative;
    transition: 0.5s;
    margin-top: 20px;
    margin-right:40px;
    cursor: pointer;
    border: none;
    background-color: #EC2324;
    font-size: 20px;
    font-weight: 800;
    color: #F2FCFF;
    width: 180px;
    height: 60px;
    border-radius: 15px;
}

#confirm_opponent:hover{
    background-color: #fe3939;
    color: #FFFFFF;
    transform: scale(1.05);


}


#EnnemycharactersContainer{
    display: flex;
    margin-top: 40px;
    display: none;
    overflow-x: auto;
    white-space: nowrap;
}

#StagesContainer{
    display: flex;
    margin-top: 40px;
    display: none;

}

#stageCard {
    display: inline-block;
    width: 300px; /* Vous pouvez ajuster la largeur selon vos besoins */
    margin: 10px; /* Espacement entre les cartes */
    text-align: center; /* Centrer le contenu à l'intérieur de la carte */
}


#stageName{
    font-size: 30px;
    color: #F2FCFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

#stageImage {
    border-radius: 20px;
    transition: transform 0.5s, filter 0.5s; 
    filter: brightness(75%);
    width: 300px;
    height: 200px;

    cursor: pointer;
}

#stageImage:hover {
    filter: brightness(100%);
    transform: scale(1.1); /* Agrandir l'image au survol */
    transform: scale(1.05);

}

#confirm_stage{
    display: none;
    position: relative;
    transition: 0.5s;
    margin-top: 20px;
    margin-right:40px;
    cursor: pointer;
    border: none;
    background-color: #EC2324;
    font-size: 20px;
    font-weight: 800;
    color: #F2FCFF;
    width: 180px;
    height: 60px;
    border-radius: 15px;
}

#confirm_stage:hover{
    background-color: #fe3939;
    color: #FFFFFF;
}

.container {
    display: flex;
    justify-content: space-between; /* Pour aligner les images à gauche et à droite */
}

.character {
    text-align: center; /* Pour centrer le nom */
}

.character-image {
    width: 500px; /* Largeur des images */
}

.character-name {
    font-size: 30px;
    color: #F2FCFF;
    margin-top: 80px; /* Marge au-dessus du nom */
    font-weight: bold; /* Texte en gras */
}