<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Game mode</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>

    <h1 id="mainTitleLogo">
        <a href="/" id="site_logo">
            <span id="dragon_text_logo">DRAGON</span>
            <span id="ball_text">BALL</span>
        </a>
    </h1>
    <a href="/" id="site_logo">
        <h2 id="draft_clash_text_logo">
            <span>DRAFT CLASH</span>
        </h2>
    </a>

    <div id="gameModeMainDiv">
        <h1 id="mainTitle">
            <span id="dragon_text">MODES DE</span>
            <span id="ball_text">JEU</span>
        </h1>
    </div>

    <div id="gameModeChoices">

        <a href="">
            <div id="cardDiv">
                <div id="card">
                    <img id="cardImg"
                        src="https://dragonball-legends.com/assets/characters/0567_kamesenninppm_567_texture/Texture2D/0567_KameSenninPPM_567_Chara.png"
                        alt="">
                    <p>TUTORIEL</p>
                </div>
                <br>
                <div id="cardText">
                    Apprennez les bases de <br> Dragon Ball Draft Clash avec<br> Tortue Génialle !
                </div>
            </div>
        </a>

        <a href="">
            <div id="cardDiv">
                <div id="card">
                    <img id="cardImg"
                        src="https://dragonball-legends.com/assets/characters/0569_majunior_569_texture/Texture2D/0569_Majunior_569_Chara.png"
                        alt="">
                    <p>CAMPAGNE</p>
                </div>
                <br>
                <div id="cardText">
                    Affrontez dans l’ordre les <br> ennemis iconique de l’univers <br> de Dragon Ball !
                </div>
            </div>
        </a>
        <a href="/gameMode/custom">
            <div id="cardDiv">
                <div id="card">
                    <img id="cardImg"
                        src="https://dragonball-legends.com/assets/characters/0535_puipui_535_texture/Texture2D/0535_Puipui_535_Chara.png"
                        alt="">
                    <p>CUSTOM</p>
                </div>
                <br>
                <div id="cardText">
                    Créez vos propres combats inédits<br>avec les personnages de votre choix !
                </div>
            </div>
        </a>

    </div>

    <footer>
        <a href="/"><button id="goBack">RETOUR</button></a>

    </footer>
</body>

</html>